.banner_container{
    width:100vw;
    height:4.32rem;
    background:rgba(42,38,73,1);
    box-shadow:0px 3px 6px rgba(0,0,0,0.16);
    opacity:1;
}
.banner{
    width:12rem;
    margin:auto;
    height:100%;
    position: relative;
}
.pic{
    width:9.15rem;
    white-space: nowrap;
    display:flex;
    flex-direction: row;
    flex-wrap:nowrap;
    height:100%;
    float:left;
}
.pic >div{
    margin-top:.36rem;
    width:2.85rem;
    height:3.6rem;
    border-radius: .04rem;
    float:left;
    flex-shrink:0;
    margin-right:.2rem;
    position: relative;
    /* background:linear-gradient(180deg,rgba(255,255,255,0) 0%,rgba(72,72,72,0.48) 48%,rgba(3,3,3,1) 100%); */
}
.pic>div>img{
    width:2.85rem;
    height:3.6rem;
    position: absolute;
}
.pic>div .default{
    position: absolute;;
    bottom:0;
    width:100%;
    height:.9rem;
    background:linear-gradient(180deg,rgba(255,255,255,0) 0%,rgba(72,72,72,0.48) 48%,rgba(3,3,3,1) 100%);
    opacity:1;
    display:flex;
    border-radius:0px 0px .04rem .04rem;
}
.pic>div .default p{
    font-size:.14rem;
    font-family:Microsoft YaHei;
    font-weight:400;
    line-height:.24rem;
    margin-left:.1rem;
    margin-top:.56rem;
    color:rgba(255,255,255,1);
    opacity:1;
    flex:1;
    text-overflow:ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.banner .play{
    width:.99rem;
    height:.24rem;
    background:rgba(42,38,67,1);
    opacity:1;
    margin-top:.56rem;
    border-radius:.4rem;
    margin-right:.1rem;
    margin-left:.11rem;
    overflow:hidden;
}
.banner .play img{
    width:.12rem;
    height:.12rem;
    margin:.06rem;
    float:left;
}
.banner .play span{
    font-size:.12rem;
    font-family:Microsoft YaHei;
    font-weight:400;
    float:left;
    line-height:.24rem;
    color:rgba(255,255,255,1);
    opacity:1;
}
.pic>div .hover .play{
    background:#FF5D38;
    width:.78rem;
}
.banner .arrow{
    position:absolute;
    top:0;
    bottom:0;
    margin:auto;
    width:.46rem;
    height:.46rem;
    z-index:1;
}
.banner .arrow img{
    width:.46rem;
    height:.46rem;
}
.banner .arrowl{
    left:.1rem;
}
.banner .arrowr{
    left:8.39rem;
}
.hot{
    width:2.85rem;
    padding:.2rem;
    box-sizing:border-box;
    height:3.6rem;
    background:rgba(0,0,0,0.73);
    opacity:1;
    border-radius:.04rem;
    float:right;
    margin-top:.36rem;
}
.hot .title{
    overflow:hidden;
}
.hot .title img{
    width:.16rem;
    height:.2rem;
    margin-top:.05rem;
    float:left;
}
.hot .title span{
    font-size:.22rem;
    font-family:Microsoft YaHei;
    font-weight:400;
    line-height:.29rem;
    color:rgba(255,255,255,1);
    opacity:1;
    float:left;
    margin-left:.08rem;
}
.hot .detail{
    font-size:.15rem;
    font-family:Microsoft YaHei;
    font-weight:400;
    line-height:.2rem;
    color:rgba(255,255,255,1);
    opacity:1;
    margin-top:.2rem;
}
.recent_games,.star{
    width:12rem;
    margin:auto;
    margin-top:.5rem;
}
.recent_games .line{
    width:100%;
    height:.02rem;
    margin-top:.24rem;
    background: rgba(237,237,237,1);
}
.games{
    opacity:1;
    border-radius:.2rem;
    display:flex;
    justify-content: space-between;;
}
.games>div{
    flex:1;
    margin-right:.2rem;
}
.games>div:last-of-type{
    margin-right:0;
}
.games .spot{
    width:.1rem;
    height:.1rem;
    background:#EDEDED;
    border-radius:50%;
    opacity:1;
    margin:auto;
    margin-top:-.06rem;
}
.games>div{
    color:#999
}
.games>div .title{
    font-size:.15rem;
    font-family:Microsoft YaHei;
    font-weight:bold;
    line-height:.2rem;
    margin-top:.1rem;
    text-align: center;
    opacity:1;
}
.games>div .time{
    font-size:.13rem;
    margin-top:.04rem;
    font-family:Microsoft YaHei;
    font-weight:400;
    line-height:.17rem;
    text-align: center;
}
.games .content{
    height:.8rem;
    padding-top:.24rem;
    background:rgba(248,248,248,1);
    position: relative;
    margin-top:.2rem;
    border-radius: .04rem;
}
.games .content:before{
     position: absolute;
      display: inline-block;
      top: -.06rem;
      left:0;
      right:0;
      width: 0;
      height: 0px;
      margin:auto;
      content: '';
      border-style: solid;
      border-width: .06rem;
      border-color: rgba(248,248,248,1) rgba(248,248,248,1) transparent transparent;
      transform: rotate(-45deg);
} 
.games .content p:nth-of-type(1){
    font-size:.14rem;
    font-family:Microsoft YaHei;
    font-weight:400;
    line-height:.2rem;
    text-align: center;
}
.games .content p:nth-of-type(2){
    font-size:.14rem;
    font-family:Microsoft YaHei;
    font-weight:400;
    line-height:.2rem;
    margin-top:.02rem;
    text-align: center;
}
.games .content p:nth-of-type(3){
    font-size:.14rem;
    margin-top:.02rem;
    font-family:Microsoft YaHei;
    font-weight:bold;
    line-height:.2rem;
    text-align: center;
}
.hover:hover .title{
    color:#FF5D38;
}
.hover:hover .content{
    background:#EDEDED;
}
.hover:hover .spot{
    background:#FF5D38
}
.heavy_pound_and_interview{
    width:12rem;
    margin:auto;
    display:flex;
    margin-top:.5rem;
    justify-content: space-between;
}
.heavy_pound{
    flex:1;
    margin-right:.2rem;
}
.heavy_pound li{
    margin-top:.2rem;
    display: flex;
}
.heavy_pound li img{
    width:2.04rem;
    height:1.36rem;
    border-radius: .04rem;
    overflow: hidden;
}
.heavy_pound li .content{
    flex:1;
    margin-left: .2rem;
}
.heavy_pound li .content p:first-of-type{
    font-size:.15rem;
    font-family:Microsoft YaHei;
    font-weight:400;
    line-height:.2rem;
    color:rgba(51,51,51,1);
}
.heavy_pound li .content p:nth-of-type(2){
    font-size:.13rem;
    margin-top: .1rem;
    font-family:Microsoft YaHei;
    font-weight:400;
    line-height:.17rem;
    color:rgba(153,153,153,1);
}
.heavy_pound li .content p:nth-of-type(3){
    font-size:.15rem;
    font-family:Microsoft YaHei;
    font-weight:400;
    line-height:.2rem;
    margin-top: .1rem;
    color:rgba(0,0,0,0.85);
}
.interview{
    flex:1;
}
.interview .people{
    flex:1;
    height:4.48rem;
    display:flex;
    justify-content: space-between;
}
.interview .people>div{
    height:100%;
    flex:1;
    border-radius: .04rem;
    overflow: hidden;
    margin-right:.2rem;
    margin-top:.2rem;
    position: relative;
    background: url('./../../images/1.png');
    background-size: 100% 100%;
}
.interview .people>div:last-of-type{
    margin-right:0
}
.people>div .name{
    position: absolute;
    bottom:0;
    width:100%;
    left:0;
    height:.9rem;
    padding-top:.45rem;
    padding-left:.16rem;
    box-sizing: border-box;
    font-size:.14rem;
    font-family:Microsoft YaHei;
    font-weight:400;
    line-height:.19rem;
    color:rgba(255,255,255,0.85);
    background:linear-gradient(180deg,rgba(255,255,255,0) 0%,rgba(72,72,72,0.48) 48%,rgba(3,3,3,1) 100%);
}
.people>div .name b{
    font-size:.22rem;
    font-weight:400
}
.people>div .introduce{
    position: absolute;
    width:100%;
    bottom:-2.18rem;
    height:2.18rem;
    left:0;
    padding:.53rem .16rem .16rem .16rem;
    box-sizing: border-box;
    background:rgba(248,248,248,1);
}
.people>div .introduce p:nth-of-type(1){
    font-size:.15rem;
    font-family:Microsoft YaHei;
    font-weight:400;
    line-height:.2rem;
    color:rgba(51,51,51,0.85);
}
.people>div .introduce p:nth-of-type(2){
    margin-top:.13rem;
    font-size:.13rem;
    font-family:Microsoft YaHei;
    font-weight:400;
    line-height:.18rem;
    color:#999999;
}
.people>div .introduce p:nth-of-type(3){
    width:.68rem;
    height:.24rem;
    background:rgba(42,38,67,1);
    margin-top:.07rem;
    text-align: center;
    border-radius:1000px;
    float:right;
    font-size:.12rem;
    font-family:Microsoft YaHei;
    font-weight:400;
    line-height:.24rem;
    color:rgba(255,255,255,1);
}
.people>div:hover .introduce{
    bottom:0;
    transition: all .3s;
}
.star .layout .remove{
    transform:rotate(180deg);
    margin-right:.09rem;
}
.star{
    overflow:hidden;
}
.star .list{
    display: flex;
}
.star .list li{
    width:1.2rem;
    margin-top:.2rem;
    margin-right:.34rem;
}
.star .list li img{
    width:1.2rem;
    height:1.2rem;
    border-radius: 50%;
}
.star .list li p{
    margin-top: .2rem;
    font-size:.16rem;
    font-family:Helvetica;
    font-weight:400;
    line-height:.19rem;
    text-align: center;
    color:rgba(51,51,51,0.85);
}
.star .layout>div>div{
    width:.06rem;
    margin-left:.09rem;
    float:right;
    height:.11rem;
}
.star .layout>div>div img{
    width:.06rem;
    height:.11rem;
}
.video_list{
    width:12rem;
    margin:auto;
}
.video_list .tab{
    margin-top:.5rem;
}
.video_list .tab span{
    margin-right:.4rem;
    font-size:.18rem;
    font-family:Microsoft YaHei;
    font-weight:400;
    line-height:.24rem;
    color:rgba(51,51,51,1);
}
.video_list .tab .active{
    font-size:.26rem;
    font-family:Microsoft YaHei;
    font-weight:400;
    line-height:.35rem;
    color:rgba(51,51,51,1);
    border-bottom:.04rem solid rgba(255,93,56,1);
    padding-bottom:.04rem;
}
.video_list .list{
    display:flex;
    height:2.92rem;
    margin-top:.26rem;
    justify-content: space-between;
}
.video_list .leftInner{
    flex:1;
    margin-right:.2rem;
    height:100%;
    background-size: 100%;
}
.video_list .leftInner .play{
    width:.99rem;
    height:.24rem;
    background:rgba(42,38,67,1);
    opacity:1;
    margin-top:2.58rem;
    border-radius:.4rem;
    margin-right:.1rem;
    margin-left:.11rem;
    overflow:hidden;
}
.video_list .leftInner .play img{
    width:.12rem;
    height:.12rem;
    margin:.06rem;
    float:left;
}
.video_list .leftInner .play span{
    font-size:.12rem;
    font-family:Microsoft YaHei;
    font-weight:400;
    float:left;
    line-height:.24rem;
    color:rgba(255,255,255,1);
    opacity:1;
}
